@model Shopgiay.Models.Giay

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/UserQL/shared/_LayoutUserQL.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Giay</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IDGiay)

        <div class="form-group">
            @Html.LabelFor(model => model.IDThuonghieu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.DropDownList("IDThuonghieu")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Tengiay, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Tengiay, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tengiay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Giaban, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Giaban, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Giaban, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Mota, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Mota, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Mota, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ngaycapnhap, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ngaycapnhap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ngaycapnhap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Soluongton, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Soluongton, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Soluongton, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cover1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">Chọn ảnh mới
               <input type="file"name="fileupload"/>
            <img src="@Url.Content("~/Img/"+Model.Cover1)"width="120px"/>(Ảnh hiện tại)
            @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cover2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="fileupload2" />
                <img src="@Url.Content("~/Img/"+Model.Cover2)" width="120px" />(Ảnh hiện tại)
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cover3, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="fileupload3" />
                <img src="@Url.Content("~/Img/"+Model.Cover3)" width="120px" />(Ảnh hiện tại)
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cover4, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="fileupload4" />
                <img src="@Url.Content("~/Img/"+Model.Cover4)" width="120px" />(Ảnh hiện tại)
                @ViewBag.Thongbao
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
