
@using Shopgiay.Models
@using PagedList.Mvc
@model PagedList.PagedList<Shopgiay.Models.Giay>
    @helper Truncate(string input,int length) { 
if (input.Length < length)
{
        @input
}
else
{
        @input.Substring(0,length)<text>...</text>
    }
}
    @{
        ViewBag.Title = "Giay";
        Layout = "~/Views/UserQL/shared/_LayoutUserQL.cshtml";
    }
 @Html.ActionLink("Create New","Creategiay","UserQL")
    <table class="table ps-cart__table">
        <thead>
            <tr>
                <th>#</th>
                <th>Thương Hiệu</th>
                <th>Ảnh</th>
                <th>Tên giày</th>
                <th>Giá bán</th>
                <th>Số Lượng</th>
                <th>Ngày cập nhật</th>
                <th>Mô tả</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IDGiay</td>
                    <td>@item.Thuonghieu.TenThuonghieu</td>
                    <td><img src="~/Img/@item.Cover1"width="100px" /></td>
                    <td>@item.Tengiay</td>
                    <td>@item.Giaban</td>
                    <td>@item.Soluongton</td>
                    <td>@item.Ngaycapnhap</td>
                    <td>@Truncate(item.Mota,50)</td>
                    <td><a href="@Url.Action("Edit","UserQL" ,new { @id = item.IDGiay })"><i class="far fa-edit"></i></a></td>
                    <td><a href="#"><i class="fas fa-calendar-week"></i></a></td>
                    <td><a href="@Url.Action("Delete","UserQL" ,new { @id = item.IDGiay })"><i class="fas fa-trash-alt"></i></a></td>
                </tr>
            }

        </tbody>
    </table>
    <div class="ps-pagination">
        <ul class="pagination">
            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li class="active">@Html.PagedListPager(Model, page => Url.Action("Giay", new { page = page }))</li>

        </ul>
    </div>


