<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7"><![endif]-->
<!--[if IE 8]><html class="ie ie8"><![endif]-->
<!--[if IE 9]><html class="ie ie9"><![endif]-->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="~/Asset/images/icon.png" rel="apple-touch-icon">
    <link href="~/Asset/images/icon.png" rel="icon">
    <meta name="description" content="Default keyword">
    <title>Shoes - Home</title>
    <!-- Fonts-->
    <link href="~/Asset/fontawesome/fontawesome-free-5.15.2-web/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:300,400,700%7CMontserrat:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="~/Asset/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Asset/plugins/ps-icon/style.css">
    <!-- CSS Library-->
    <link rel="stylesheet" href="~/Asset/plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Asset/plugins/owl-carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/Asset/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
    <link rel="stylesheet" href="~/Asset/plugins/slick/slick/slick.css">
    <link rel="stylesheet" href="~/Asset/plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="~/Asset/plugins/Magnific-Popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="~/Asset/plugins/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Asset/plugins/revolution/css/settings.css">
    <link rel="stylesheet" href="~/Asset/plugins/revolution/css/layers.css">
    <link rel="stylesheet" href="~/Asset/plugins/revolution/css/navigation.css">

    <!-- Custom-->
    <link rel="stylesheet" href="~/Asset/css/style.css">
    <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
</head>
<!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
<!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->

<body class="ps-loading">
    <div class="header--sidebar"></div>
    <header class="header">
        <div class="header__top">
            @{ if (Session["TKKH"] == null || Session["TKKH"].ToString() == "")
                {

                }
                else
                {<div class="container-fluid" style="background-color: black">
                    <div class="row" style="background-color: black">
                        <div class="col-lg-6 col-md-8 col-sm-6 col-xs-12 ">
                            <ul class="ps-social" style="margin-top: 10px">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-6 col-xs-12 ">
                            <div class="header__actions">
                                <a href="#"></a>
                                <div class="btn-group ps-dropdown">
                                </div>
                                <div class="btn-group ps-dropdown">
                                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Session["TenKH"]<i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="@Url.Action("logout", "Nguoidung")">Logout</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    }
                }
        </div>
        <nav class="navigation">
            <div class="container-fluid">
                <div class="navigation__column left">
                    <div class="header__logo">
                        <a class="ps-logo" href="@Url.Action("Index","Homegiay")"><img src="~/Asset/images/logoshopgiay.png" alt=""></a>
                    </div>
                </div>
                <div class="navigation__column center">
                    <ul class="main-menu menu">
                        <li class="menu-item menu-item-has-children dropdown">
                            <a href="@Url.Action("Index","Homegiay")">Home</a>
                            <!-- <ul class="sub-menu">
                                <li class="menu-item"><a href="index.html">Homepage #1</a></li>
                                <li class="menu-item"><a href="#">Homepage #2</a></li>
                                <li class="menu-item"><a href="#">Homepage #3</a></li>
                            </ul> -->
                        </li>
                        <li class="menu-item menu-item-has-children has-mega-menu">
                            <a href="@Url.Action("Nike","HomeGiay")">Nike</a>
                           
                        </li>
                        <li class="menu-item"><a href="@Url.Action("Adidas","HomeGiay")">adidas</a></li>
                        <li class="menu-item"><a href="@Url.Action("Vans","HomeGiay")">Vans</a></li>
                        <li class="menu-item menu-item-has-children dropdown">
                            <a href="@Url.Action("Converse","HomeGiay")">converse</a>
                            <!-- <ul class="sub-menu">
                                <li class="menu-item menu-item-has-children dropdown"><a href="blog-grid.html">Blog-grid</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="blog-grid.html">Blog Grid 1</a></li>
                                        <li class="menu-item"><a href="blog-grid-2.html">Blog Grid 2</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item"><a href="blog-list.html">Blog List</a></li>
                            </ul> -->
                        </li>
                        <li class="menu-item menu-item-has-children dropdown">
                            <a href="#">Contact</a>
                            <!-- <ul class="sub-menu">
                                <li class="menu-item"><a href="contact-us.html">Contact Us #1</a></li>
                                <li class="menu-item"><a href="contact-us.html">Contact Us #2</a></li>
                            </ul> -->
                        </li>
                    </ul>
                </div>
                <div class="navigation__column right">
                    <form class="ps-search--header" action="do_action" method="post">
                        <input class="form-control" type="text" placeholder="Search Product…">
                        <button><i class="ps-icon-search"></i></button>
                    </form>
                   @Html.Action("GiohangPartial","Giohang")
                    <div class="menu-toggle"><span></span></div>
                </div>
            </div>
        </nav>
    </header>
    <div class="header-services">
        <div class="ps-services owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="7000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="false" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1"
             data-owl-duration="1000" data-owl-mousedrag="on">
            <p class="ps-service"><i class="ps-icon-delivery"></i><strong>Free Shipping</strong>: Get free standard delivery on every order with Sky Store</p>
            <p class="ps-service"><i class="ps-icon-delivery"></i><strong>Free delivery</strong>: Get free standard delivery on every order with Sky Store</p>
            <p class="ps-service"><i class="ps-icon-delivery"></i><strong>Free delivery</strong>: Get free standard delivery on every order with Sky Store</p>
        </div>
    </div>
    <main class="ps-main">
        <div class="ps-banner">
            <div class="rev_slider fullscreenbanner" id="home-banner">
                <ul>
                    <li class="ps-banner" data-index="rs-2972" data-transition="random" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-rotate="0">
                        <img class="rev-slidebg" src="https://www.adidas.co.id/media/scandiweb/slider/4/5/4571-1920x720_1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina>

                        <div class="tp-caption ps-banner__title" id="layer21" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-40','-50','-70']" data-type="text" data-responsive_offset="on"
                             data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">

                        </div>


                    </li>
                    <li class="ps-banner ps-banner--white" data-index="rs-100" data-transition="random" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-rotate="0">
                        <img class="rev-slidebg" src="https://static.nike.com.hk/resources/template/kvFullNewModule1/11960659078639932.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina>

                        <div class="tp-caption ps-banner__title" id="layer339" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-40','-50','-70']" data-type="text" data-responsive_offset="on"
                             data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                            <!-- <p class="text-uppercase">Recovery</p> -->
                        </div>
                        <div class="tp-caption ps-banner__description" id="layer2-14" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['30','50','50','50']" data-type="text" data-responsive_offset="on"
                             data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                            <!-- <p>Supa wanted something that was going to rep his East Coast <br> roots and, more specifically, his hometown of <br/> New York City in a big way.</p> -->
                        </div>
                    </li>
                    <li class="ps-banner ps-banner--white" data-index="rs-100" data-transition="random" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-rotate="0">
                        <img class="rev-slidebg" src="https://bizweb.dktcdn.net/100/140/774/themes/599109/assets/slider_3.jpg?1616607624420" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina>

                        <div class="tp-caption ps-banner__title" id="layer339" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-40','-50','-70']" data-type="text" data-responsive_offset="on"
                             data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                            <!-- <p class="text-uppercase">Recovery</p> -->
                        </div>
                        <div class="tp-caption ps-banner__description" id="layer2-14" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['30','50','50','50']" data-type="text" data-responsive_offset="on"
                             data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                            <!-- <p>Supa wanted something that was going to rep his East Coast <br> roots and, more specifically, his hometown of <br/> New York City in a big way.</p> -->
                        </div>
                    </li>
                    <li class="ps-banner ps-banner--white" data-index="rs-100" data-transition="random" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-rotate="0">
                        <img class="rev-slidebg" src="https://www.converse.com.vn/pictures/catalog/home/slide-homepage/conversecrater-knithomepagedesktop.png" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5"
                             data-no-retina>

                        <div class="tp-caption ps-banner__title" id="layer339" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['-60','-40','-50','-70']" data-type="text" data-responsive_offset="on"
                             data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                            <!-- <p class="text-uppercase">Recovery</p> -->
                        </div>
                        <div class="tp-caption ps-banner__description" id="layer2-14" data-x="['left','left','left','left']" data-hoffset="['-60','15','15','15']" data-y="['middle','middle','middle','middle']" data-voffset="['30','50','50','50']" data-type="text" data-responsive_offset="on"
                             data-textAlign="['center','center','center','center']" data-frames="[{&quot;delay&quot;:1200,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;x:50px;opacity:0;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]">
                            <!-- <p>Supa wanted something that was going to rep his East Coast <br> roots and, more specifically, his hometown of <br/> New York City in a big way.</p> -->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ps-section--features-product ps-section masonry-root pt-100 pb-100">
            <div class="ps-container">
                <div class="ps-section__header mb-50">
                    <h3 class="ps-section__title" data-mask="features">- New Products</h3>
                    <ul class="ps-masonry__filter">
                        <li class="current"><a href="#" data-filter="*">All <sup>8</sup></a></li>
                        
                    </ul>
                </div>
                <div class="ps-section__content pb-50">
                    <div class="masonry-wrapper" data-col-md="4" data-col-sm="2" data-col-xs="1" data-gap="30" data-radio="100%">
                        <div class="ps-masonry">
                            <div class="grid-sizer"></div>
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-section--offer">
            <div class="ps-column">
                <a class="ps-offer" href="product-listing.html"><img src="https://www.converse.com/on/demandware.static/-/Library-Sites-SharedLibrary/default/dw019f61d3/firstspirit/media/homepage_1/2021_summer_5/04_24/D-Converse-SU21-4-1-HP-P3~1.jpg" alt=""></a>
            </div>
            <div class="ps-column">
                <a class="ps-offer" href="product-listing.html"><img src="~/Asset/images/vansbaner.jpg" alt=""></a>
            </div>
        </div>
        <div class="ps-section--sale-off ps-section pt-80 pb-40">
            <div class="ps-container">
                <div class="ps-section__header mb-50">
                    <h3 class="ps-section__title" data-mask="Sale off">- Hot Deal Today</h3>
                </div>
                <div class="ps-section__content">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="ps-hot-deal">
                                <h3>Nike DUNK Max 95 OG</h3>
                                <p class="ps-hot-deal__price">Only: <span>£155</span></p>
                                <ul class="ps-countdown" data-time="December 13, 2017 15:37:25">
                                    <li>
                                        <span class="hours"></span>
                                        <p>Hours</p>
                                    </li>
                                    <li class="divider">:</li>
                                    <li>
                                        <span class="minutes"></span>
                                        <p>minutes</p>
                                    </li>
                                    <li class="divider">:</li>
                                    <li>
                                        <span class="seconds"></span>
                                        <p>Seconds</p>
                                    </li>
                                </ul><a class="ps-btn" href="#">Order Today<i class="ps-icon-next"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                            <div class="ps-hotspot">
                                <a class="point first active" href="javascript:;">
                                    <i class="fa fa-plus"></i>
                                    <div class="ps-hotspot__content">
                                        <p class="heading">JUMP TO HEADER</p>
                                        <p>Dynamic Fit Collar en la zona del tobillo que une la parte inferior de la pierna y el pie sin reducir la libertad de movimiento.</p>
                                    </div>
                                </a><a class="point second" href="javascript:;">
                                    <i class="fa fa-plus"></i>
                                    <div class="ps-hotspot__content">
                                        <p class="heading">JUMP TO HEADER</p>
                                        <p>Dynamic Fit Collar en la zona del tobillo que une la parte inferior de la pierna y el pie sin reducir la libertad de movimiento.</p>
                                    </div>
                                </a><a class="point third" href="javascript:;">
                                    <i class="fa fa-plus"></i>
                                    <div class="ps-hotspot__content">
                                        <p class="heading">JUMP TO HEADER</p>
                                        <p>Dynamic Fit Collar en la zona del tobillo que une la parte inferior de la pierna y el pie sin reducir la libertad de movimiento.</p>
                                    </div>
                                </a><img src="images/hot-deal.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-section ps-section--top-sales ps-owl-root pt-80 pb-80">

        </div>
        <div class="ps-home-testimonial bg--parallax pb-80" data-background="https://www.adidas.co.id/media/scandiweb/slider/f/o/forum-column-1.jpg">
            <div class="container">
                <div class="owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="true" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-duration="1000"
                     data-owl-mousedrag="on" data-owl-animate-in="fadeIn" data-owl-animate-out="fadeOut">
                    <div class="ps-testimonial">
                        <div class="ps-testimonial__thumbnail"><img src="~/Asset/images/long.jpg" alt=""><i class="fa fa-quote-left"></i></div>
                        <header>
                            <select class="ps-rating">
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">4</option>
                                <option value="5">5</option>
                            </select>
                            <p>Trần văn long</p>
                        </header>
                        <footer>
                            <p>“Dạo này em stress quá thầy mong thầy cho 10Đ. “</p>
                        </footer>
                    </div>
                    <div class="ps-testimonial">
                        <div class="ps-testimonial__thumbnail"><img src="~/Asset/images/anhdien.jpg" width="50px" alt=""><i class="fa fa-quote-left"></i></div>
                        <header>
                            <select class="ps-rating">
                                <option value="1">1</option>
                                <option value="1">2</option>
                                <option value="1">3</option>
                                <option value="1">4</option>
                                <option value="5">5</option>
                            </select>
                            <p>Vũ Duy Dũng</p>
                        </header>
                        <footer>
                            <p>“Em cũng vậy thầy ơi. “</p>
                        </footer>
                    </div>
                  
                </div>
            </div>
        </div>
        <div class="ps-section ps-home-blog pt-80 pb-80">
          
        </div>
       
        <div class="ps-subscribe">
            <div class="ps-container">
                <div class="row">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
                        <h3><i class="fa fa-envelope"></i>Sign up to Newsletter</h3>
                    </div>
                    <div class="col-lg-5 col-md-7 col-sm-12 col-xs-12 ">
                        <form class="ps-subscribe__form" action="do_action" method="post">
                            <input class="form-control" type="text" placeholder="">
                            <button>Sign up now</button>
                        </form>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 ">
                        <p>...and receive <span>$20</span> coupon for first shopping.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ps-footer bg--cover" data-background="https://static.nike.com.hk/resources/template/kvFullNewModule1/11960659078639932.jpg">
            <div class="ps-footer__content">
                <div class="ps-container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                            <aside class="ps-widget--footer ps-widget--info">
                                <header>
                                    <a class="ps-logo" href="index.html"><img src="~/Asset/images/logo-white.png" alt=""></a>
                                    <h3 class="ps-widget__title">Address Office 1</h3>
                                </header>
                                <footer>
                                    <p><strong>460 West 34th Street, 15th floor, New York</strong></p>
                                    <p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
                                    <p>Phone: +323 32434 5334</p>
                                    <p>Fax: ++323 32434 5333</p>
                                </footer>
                            </aside>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                            <aside class="ps-widget--footer ps-widget--info second">
                                <header>
                                    <h3 class="ps-widget__title">Address Office 2</h3>
                                </header>
                                <footer>
                                    <p><strong>PO Box 16122 Collins  Victoria 3000 Australia</strong></p>
                                    <p>Email: <a href='mailto:support@store.com'>support@store.com</a></p>
                                    <p>Phone: +323 32434 5334</p>
                                    <p>Fax: ++323 32434 5333</p>
                                </footer>
                            </aside>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                            <aside class="ps-widget--footer ps-widget--link">
                                <header>
                                    <h3 class="ps-widget__title">Find Our store</h3>
                                </header>
                                <footer>
                                    <ul class="ps-list--link">
                                        <li><a href="#">Coupon Code</a></li>
                                        <li><a href="#">SignUp For Email</a></li>
                                        <li><a href="#">Site Feedback</a></li>
                                        <li><a href="#">Careers</a></li>
                                    </ul>
                                </footer>
                            </aside>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                            <aside class="ps-widget--footer ps-widget--link">
                                <header>
                                    <h3 class="ps-widget__title">Get Help</h3>
                                </header>
                                <footer>
                                    <ul class="ps-list--line">
                                        <li><a href="#">Order Status</a></li>
                                        <li><a href="#">Shipping and Delivery</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Payment Options</a></li>
                                        <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </footer>
                            </aside>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 ">
                            <aside class="ps-widget--footer ps-widget--link">
                                <header>
                                    <h3 class="ps-widget__title">Products</h3>
                                </header>
                                <footer>
                                    <ul class="ps-list--line">
                                        <li><a href="#">Shoes</a></li>
                                        <li><a href="#">Clothing</a></li>
                                        <li><a href="#">Accessries</a></li>
                                        <li><a href="#">Football Boots</a></li>
                                    </ul>
                                </footer>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ps-footer__copyright">
                <div class="ps-container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                            <p>&copy; <a href="#">SKYTHEMES</a>, Inc. All rights Resevered. Design by <a href="#"> Alena Studio</a></p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                            <ul class="ps-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- JS Library-->
    <script type="text/javascript" src="~/Asset/plugins/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/gmap3.min.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/slick/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/elevatezoom/jquery.elevatezoom.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx39JFH5nhxze1ZydH-Kl8xXM3OK4fvcg&amp;region=GB"></script>
    <script type="text/javascript" src="~/Asset/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/Asset/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <!-- Custom scripts-->
    <script type="text/javascript" src="~/Asset/js/main.js"></script>
</body>

</html>
